{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>KDD Inventory</title>
</head>
<body>
<div>
            <h1><a href="/">KDD Inventory</a></h1>
</div>


 Welcome to KDD Inventory
    {% if user.is_authenticated %}
        <p align="right">Welcome {{ user.username  }}</p>
        <p>You should only see this if you are logged in</p>

        <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Category</th>
        </tr>
        {% for item in query_results %}
        <tr>
            <td>{{ item.item_number.name }}</td>
            <td>{{ item.item_number.description}}</td>
            <td>{{ item.stock_location.description }}</td>
            <td>{{ item.stock_quantity }}</td>
            <td>{{ item.stock_category.category }}</td>
        </tr>
        {% endfor %}
        </table>


        <p align="right"><a href="{% url 'logout' %}">logout</a></p>
    {% endif %}


    {% if not user.is_authenticated %}
        <A HREF = "login">Login here</A>
    {% endif %}


    {% if user.is_authenticated %}
        <p align="right"><a href="{% url 'home' %}">Inventory</a></p>
    {%  endif %}




</body>
</html>
{%  endblock %}